body {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  margin: 50px 200px;
  display: block;
}

.headerH {
  display: block;
  margin: 50px auto;
  text-align: center;
  letter-spacing: 5px;
  color: rgb(168, 22, 22);
}
