body {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  margin: 0px auto;
}

.headerH {
  display: block;
  margin: 50px auto;
  text-align: center;
  letter-spacing: 40px;
  color: rgb(165, 6, 6);
}
main {
  margin: 0 auto;
}
.MLogo {
  margin: 10px auto;
  display: flex;
}
